{% extends "layout.njk" %}

{% block content %}

<section class="container" id="continer1">

        <div id="menu" class="menu">    
            <a href="/pgnSql/1">insert</a>
         
        </div>

        <div class="central">
        
            {% if item == 1 %}
                  {% include "./partials/insert.njk" %}
            {% endif %} 

                     

        </div>

</section> 

{% endblock %}

